body {
font-family: Arial;
text-align: center;
margin-top: 100px;
}

#status-box {
padding: 30px;
border-radius: 10px;
display: inline-block;
}

#status-light {
width: 30px;
height: 30px;
border-radius: 50%;
margin: auto;
margin-bottom: 20px;
}

.busy {
background: red;
}

.free {
background: green;
}

.away {
background: orange;
}